.side {
    display: flex;
    position: absolute;
    width: 27%;
}

.sideBar {
    height: 100vh;
    background-color: rgb(0 0 0 / 63%);
    overflow-y: scroll;
    z-index: 100;
}

.selection {
    display: flex;
    padding: 25px 15px;
    justify-content: center;
}

.sideBar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #35221b;
}

.sideBar::-webkit-scrollbar {
    width: 12px;
    background-color: #ffffff00;
}

.sideBar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #3b1d05;
}

.selection h1 {
    margin: 0;
    font-size: 33px;
    font-weight: 300;
    text-transform: capitalize;
    letter-spacing: 4px;
}

.toggleBtn {
    display: flex;
    margin-right: 20px;
    width: 27%;
    height: 5%;
    padding: 10px;
    margin-left: 25px;
    margin-bottom: 13px;
    filter: grayscale(1);
    z-index: 500;
}

.toggleBtn:first-child {
    margin-top: 25px;
}

.toggleBtn img {
    width: 100%;
    cursor: pointer;
}

.thumbs {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.thumbs img {
    width: 70%;
    margin-bottom: 7%;
    border-radius: 8px;
    cursor: pointer;
}

.navigate {
    width: 35%;
    height: 8%;
}

.navigate img {
    width: 100%;
    cursor: pointer;
}

.curr {
    animation: fadeInBorder 250ms ease-in forwards;
}

@keyframes fadeInBorder {
    0% {
        border: 0px solid orange;
    }

    50% {
        border: 2px solid orange;
    }

    100% {
        border: 3px solid orange;
    }
}

@media screen and (max-width: 1400px) {
    .side {
        width: 40%;
    }

    .toggleBtn {
        width: 19%;
    }
}
